<!-- Vendor CSS -->
<link rel="stylesheet" href="{{{ urls.assets }}}/css/vendors/bootstrap/5.3.3/bootstrap.min.css">
<link rel="stylesheet" href="{{{ urls.assets }}}/css/vendors/fontawesome/6.7.2/all.min.css">

<!-- Theme-specific CSS -->
{{ #theme.assets.minify.css }}
    <link rel="stylesheet" href="{{{ urls.assets }}}/css/style.min.css">
{{ /theme.assets.minify.css }}
{{ ^theme.assets.minify.css }}
    <link rel="stylesheet" href="{{{ urls.assets }}}/css/style.css">
{{ /theme.assets.minify.css }}
