{
    "$schema": "./node_modules/wrangler/config-schema.json",
    "name": "travelbook",
    "compatibility_date": "2026-06-22",
    "workers_dev": true,
    "preview_urls": true,
    "assets": {
        "directory": "./sites/travelbook/public/production/",
        "not_found_handling": "404-page"
    },
    "observability": {
        "enabled": true
    }
}